@{
  Layout = "_Layout";
}

<h1>Welcome to the animal shelter</h1>

<p>@Html.ActionLink("See all types of animals", "Index", "AnimalTypes")</p>
<p>@Html.ActionLink("See all animals", "Index", "Animals")</p>