@{
  Layout = "_Layout";
}

@using AnimalShelter.Models;
@model IEnumerable<AnimalShelter.Models.Animal>;

<h1>Animals</h1>

<ul>
@foreach (Animal animal in Model)
{
  <li>@Html.ActionLink($"{animal.Name}", "Details", new { id = animal.AnimalId })</li>
}
</ul>

<p>@Html.ActionLink("Sort by Breed", "Index", new { sortOrder = "breed"})</p>
<p>@Html.ActionLink("Sort by Admittance Date", "Index", new { sortOrder = "date"})</p>
<p>@Html.ActionLink("Add new animal", "Create")</p>